addict==2.4.0
chumpy==0.70
geomloss==0.2.6
h5py==3.9.0
huggingface_hub==0.31.4
matplotlib==3.5.3
numpy==1.22.4
omegaconf==2.3.0
open3d==0.18.0
opencv_python==4.10.0.84
PyYAML==6.0.1
scikit_learn==0.22.2
smplx==0.1.28
spconv_cu113==2.3.6
torch==1.12.1+cu113
torch_scatter==2.1.0+pt112cu113
tqdm==4.66.1
tqdm==4.66.2
transforms3d==0.4.2
trimesh==4.2.0
